doctype html
html
  block head
    title= title
    
    link(rel='stylesheet', href='/bootstrap-3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='/bootstrap-3.3.2/js/bootstrap.min.js')
    
  body
    nav(class="navbar navbar-default")
      div(class="container-fluid")
        div(class="navbar-header")
          a(class="navbar-brand", href="#")
            img(alt="Brand", src="/images/magic3.png", height="25", width="80")
        div(class="collapse navbar-collapse")
          p(class="navbar-text navbar-right") Logged in as Administrator
    block content