li.received
	mixin msg
		button(type="button", class="close", data-dismiss="alert", aria-label="Close")
			span(aria-hidden="true")&times;
		div.m-timestamp #{ts} 
		span.m-from #{did} 
		span.m-instance #{inst} 
		span.m-service #{service} 
		span.m-stage #{stage} 
		span.m-status #{status}
		span.m-logMessage -- #{msg}
		
	if level == 'error'
		div(class="msgContent alert alert-danger alert-dismissible")
			+msg
	else
		div(class="msgContent alert alert-info alert-dismissible")
			+msg