extends layout

block append content
	div(role="tabpanel")
		ul(class="nav nav-tabs", role="tablist")
			li(role="presentation", class="active")
				a(href="#stats", aria-controls="stats", role="tab", data-toggle="tab") Explore
			li(role="presentation") 
				a(href="#tests", aria-controls="tests", role="tab", data-toggle="tab") Tests
			li(role="presentation") 
				a(href="#logging", aria-controls="logging", role="tab", data-toggle="tab") Activity
			li(role="presentation" class="disabled")
				a(href="#monitor", aria-controls="monitor", role="tab") Monitoring
			li(role="presentation" class="disabled")
				a(href="#settings", aria-controls="settings", role="tab") Settings
				
		div.tab-content
			div(role="tabpanel", class="tab-pane active", id="stats")
				include ./maintabs/explore.jade
			div(role="tabpanel", class="tab-pane", id="tests")
				include ./maintabs/tests.jade
			div(role="tabpanel", class="tab-pane", id="logging") 
				div#log_update
			div(role="tabpanel", class="tab-pane disabled", id="monitor")
				div#ums_proxy
					iframe#ums_proxy_iframe(src='http://172.16.1.31:11223/zato-lb-stats')
			div(role="tabpanel", class="tab-pane", id="settings") Settings ...
			
block append head
	link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
	script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js')
	script(src='https://cdn.socket.io/socket.io-1.3.3.js')
	script.
		$(document).ready(function(){
			var socket = io();
			socket.on('log', function(msg){
				$('#log_update').prepend(msg);
				$('.received').fadeIn(1000);
				console.log(msg)
			});
			
			var sdks = '';
			$.ajax({ 
				type: 'GET',
				url: '/sdks',
				success: function(response){
					replaceOptions('#partner', response, '_id');
					
					//first selected value
					var firstSdk = $('#partner option:first').val();
					if(firstSdk){
						fillInDevices(firstSdk);
					}
					
					//user changes selection
					$('#partner').on('change', function(evt){
						var selectedVal = $('#partner option:selected').val();
						fillInDevices(selectedVal);
					});
				},
				error: function(xhr, status, errMsg){
					alert('Cannot get sdks');
				}
			});
			
			function fillInDevices(sdk){
				//TODO - check same sdk, etc
				if(sdk){
					$.ajax({
						type: 'GET',
						url: '/devices?releaseLabel=' + sdk,
						success: function(response){
							replaceOptions('#devices', response, '_id');
						},
						error: function(xhr, status, errMsg){
							alert('Cannot retrieve devices');
						}
					});
				}
			}
			
			function replaceOptions(target, values, attr){
				$(target).find('option').remove();
				values.map(function(val, idx, arry){
					var option = '<option value="' + val[attr] + '">' + val[attr] + '</option>';
					$(target).append(option);	
				});
			}
			
			$('#uploadFileForm').submit(function(event){
				var url = $(this).attr('action');
				var data = new FormData(this);
				alert('submitting form to url ' + url + ' data = ' + data);
				$.ajax({
					type: 'POST',
					url: '/upload',
					data: data,
					processData: false,
					contentType: false,
					success: function(response){
					},
					error: function(xhr, status, errMsg){
						alert('Error uploading file - ' + errMsg);
					}
				});
				
				event.preventDefault();
			});
		});
		
			

