extends layout

block append head
	link(rel='stylesheet', href='/stylesheets/signin.css')
	
block content
	div.container
		form.form-signin
			h2.form-signin-heading Please sign in
			label(for="inputEmail", class="sr-only") Username
			input(type="email", id="inputEmail", class="form-control", placeholder="Username" required autofocus)
			label(for="inputPassword" class="sr-only") Password
			input(type="password" id="inputPassword" class="form-control" placeholder="Password" required)
			button(class="btn btn-lg btn-primary btn-block", type="submit") Sign in