html {
	min-height: 100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100%;
}

#pheader {
	background-color: #002060;	
	margin-top: 0px;
}

#labelExplore {
	margin-top: 10px;	
}

#fileUpload {
	padding-top: 10px;	
}

a {
  color: #00B7FF;
}

li.received {
	list-style: none;	
}

div#magic3img{
	border-radius: 10px;	
}

div#ums_proxy, iframe#ums_proxy_iframe {
	width: 100%;
	min-height: 70vh;
}

div#log_update {
	padding-top: 10px;
	min-height: 70vh;
	max-height: 70vh;

	overflow-y: auto;
}

.received {
	font-size: 10px;
	display: none;
}

.received .alert {
	margin-bottom: 5px;
}

.newMessage {
	background-color: red;
}

.m-timestamp{
	font-style: italic;
	color: black;
}

.m-instance{
	color: blue;
}

.m-service{
	color: green;
}

.m-from{
	font-weight: bold;
}

.m-stage{
	font-weight: bold;
	/* color: yellow; */
}

.m-status{
	color: red;
}

.m-logMessage{
	padding-left: 5px;
}