div(id="labelExplore", class="panel panel-default")
	div.panel-body
		form#labelForm(action="#{label_url}", method="post")
			div.col-lg-4
				div.form-group
					label(for="partner") Label
					select.form-control#label(name="label")
					
div(id="walletIdExplore", class="panel panel-default")
	div.panel-body
		form#walletIdForm(action="#{walletId_url}", method="post")
			div.col-lg-4
				div.form-group
					label(for="walletKey") Wallet ID
					div.input-group
						input(for="walletKeyInput", class="form-control", type="text", placeholder="Search for wallet identifier")
						span.input-group-btn
							button(class="btn btn-primary", type="submit") Search