div#fileUpload
	div(class="panel panel-default")
		div(class="panel-heading")
			h3.panel-title File upload
		div.panel-body
			form#uploadFileForm(action="#{upload_url}", method="post")
				div.col-lg-4
					div.form-group
						label(for="partner") Partner
						select.form-control#partner(name="partner")
				div.col-lg-4
					div.form-group
						label(for="devices") Devices
						select(class="form-control", id="devices" name="device")
				div.col-lg-4
					div.form-group(style="margin-right:50px;")
						label(for="inputFile") File input
						input(type="file", id="inputFile", name="file", style="margin-right:50px;")
				div.col-lg-4
					button(type="submit", class="btn btn-primary") Submit

div#deviceState
	div(class="panel panel-default")
		div.panel-heading
			h3.panel-title Device state
		div.panel-body
			form#deviceStateForm(action="#{dev_state_url}", method="post")
				div.col-lg-4
					div.form-group
						label(for="partner") Partner
						select.form-control#partnerStates(name="devStatePartner")
				div.col-lg-4
					div.form-group
						label(for="devices") Devices
						select(class="form-control", id="devicesState" name="devStateDevice")
				div.col-lg-4
					div.form-group
						div
							label(for="device-states") State
						div(class="btn-group", data-toggle="buttons")
							label(class="btn btn-info") Resume
								input(type="radio", name="dev-state-radio") 
							label(class="btn btn-info")  Suspend
								input(type="radio", name="dev-state-radio")
							label(class="btn btn-info") Deactivate
								input(type="radio", name="dev-state-radio")
				div.col-lg-4
					button(type="submit", class="btn btn-primary") Submit